@use "../functions/toRem" as fun;

#FAQ-modul-e-szlaki {
  --accordion-space-unit: 1em;
  --accordion-space-xxxs: calc(0.25 * var(--accordion-space-unit));
  --accordion-space-xxs: calc(0.375 * var(--accordion-space-unit));
  --accordion-space-xs: calc(0.5 * var(--accordion-space-unit));
  --accordion-space-sm: calc(0.75 * var(--accordion-space-unit));
  --accordion-space-md: calc(1.25 * var(--accordion-space-unit));

  .faq-accordion {
    list-style: none;
  }
  .faq-accordion--animated .faq-accordion__label::before {
    transition: transform 0.3s,
  }
  .faq-accordion__sub {
    display: none;
    overflow: hidden;
  }
  .faq-accordion__sub--is-visible {
    display: block;
  }
  .faq-accordion__item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .faq-accordion__input {
    position: absolute;
    opacity: 0;
  }
  .faq-accordion__label {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.75em 1.25em;
    padding: var(--accordion-space-sm) var(--accordion-space-md);
    cursor: pointer;
    background: var(--background-green-hover);
  }

  .faq-accordion__content {
    display: block;
    position: relative; 
    // padding: 0.75em 1.25em;
    padding: var(--accordion-space-sm) var(--accordion-space-md);
  }

  .faq-accordion__input:checked + .faq-accordion__label::before {
    transform: rotate(0);
  }
  .faq-accordion__input:checked + .faq-accordion__label::after {
    background-position: fun.toRem(-32) 0;
  }
  .faq-accordion__input:checked ~ .faq-accordion__sub {
    display: block;
  }
  .faq-accordion__sub--l1 .faq-accordion__label {
    padding-left: calc(var(--accordion-space-md) + fun.toRem(16));
    background: var(--background);
  }

  .faq-accordion__item:last-child .faq-accordion__label {
    box-shadow: none;
  }
  .faq-accordion__sub--l2 .faq-accordion__label,
  .faq-accordion__sub--l2 .faq-accordion__content {
    //   padding-left: calc(1.5em + fun.toRem(32));
    padding-left: calc(
      var(--accordion-space-md) + var(--accordion-space-xxxs) + fun.toRem(32)
    );
  }
}
