@use "../functions/toRem" as fun;
@use "../base/variables" as *;

#FAQ-modul-e-szlaki {
  .faq-module-main-icon {  
    display: none;
    position: absolute;
    right: 10%;
    bottom: -80%;
    width: 100%;
    max-width: fun.toRem(200);
    transition: all 0.3s ease-in-out;

    @media (min-width: $content-breakpoint) {
      display: block;
    }
  }
}
