@use "../functions/toRem" as fun;
@use "../components/links";

#FAQ-modul-e-szlaki {
  .faq-main-categories-panel {
    height: fit-content;
    padding: 0; 
    padding: 2rem 0;
    overflow: hidden;
    background-color: var(--green);

    .faq-categories-nav {
      background-color: var(--light-blue);
      list-style: none; 

      .faq-category-link {
        width: 100%;
        margin: 0;
        border-radius: 0;
      }
    }
  }
}
