@use "../functions/toRem" as fun;

#FAQ-modul-e-szlaki {
  .faq-current-questions-panel {
    position: relative;
    padding: 0;
    //padding-inline: 1.5rem;
    // background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-opacity);
    --page-shift-value: -50%;
    --animation-duration-time: 0.4s; 

    .content {
      position: relative;
    }

    .card-body {
      position: absolute;

      top: 0;
      left: var(--page-shift-value);
      width: 100%;
      margin: 0 auto;
      transition: all var(--animation-duration-time) ease-in-out;
    }
    .screen-page {
      z-index: 11;
      left: var(--page-shift-value);
      opacity: 0;
    }
    .screen-page-active {
      visibility: visible;
      z-index: 22;
      left: 0;
      transform: translateY(0px);
      opacity: 1;
    }
  } 
}
