@use "../components/modern-card" as *;
@use "../components/links" as *;
@use "../functions/toRem" as fun;

#more-information-module {
  --page-shift-value: -60%;

  .main-content {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .main-menu {
    display: flex;
    width: 100%;
    transition: all 0.6s ease-in-out;
  }

  .main-menu-list {
    --navgation-link-border-radius: 10px;
    display: none;

    @media (min-width: 62em) {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      list-style: none;
    }
  }
  .main-menu-list li {
    flex-basis: 1;
    flex-grow: 1;
  }
  .main-menu-list .link-page {
    @extend .link;
    @extend .variant2;
    @extend .small;
    width: 100%;
    border-radius: 0;

    @media (min-width: 87.5em) {
      font-size: 1rem;
    }

    &:active,
    &:visited {
      text-decoration: none;
    }

    &.active {
      background-color: var(--green);
    }
  }

  .card-body {
    position: absolute;

    top: 0;
    left: var(--page-shift-value);
    width: 100%;
    margin: 0 auto;
    transition: all 0.6s ease-in-out;
  }

  .screen-page {
    z-index: 11;
    left: var(--page-shift-value);
    opacity: 0;
  }

  .screen-page-active {
    visibility: visible;
    z-index: 22;
    left: 0;
    transform: translateY(0px);
    opacity: 1;
  }
}
