#FAQ-modul-e-szlaki {
  .badge { 
    padding: 0.75rem 1.5rem; 
    border-radius: 5px;
    background-color: var(--dark-gray-opacity);
    color: #fff;
    font-weight: bold;

    &--small {
      padding: 0.25rem 0.5rem; 
      font-size: 0.7rem;
    }
  }
}
