#FAQ-modul-e-szlaki {

    /* blue */
    --light-blue: #05a0ff; 
    /* green */
    --light-green: #00ff57;
    --light-green-opacity: #00ff5596;
    --light-green-30: #00ff555c;
    --light-green-20: #00ff553f;
    --green: #00c821;
    --green-opacity: #00c821c3;
    --dark-green: #155a2c;
    --dark-green-opacity: #155a2cc7;
    --light-green-20: #00ff5535;
    --very-light-green: #37ff7a;
    --very-light-green-opacity: #37ff7ac7;
    /* gray */
    --very-light-gray: #efefef;
    --gray: #3f624a;
    --dark-gray: #1d2d2b; 
    --very-dark-gray: #252525; 

    /* base */
    --background: #fff;
    --background-opacity: #ffffffb5;
    --background-opacity-30: #ffffff54;
    --background-gray: var(--very-light-gray);
    --font-color: var(--dark-gray);
    --font-color-gray: var(--gray);
    --font-color-green: var(--dark-green);
    --font-color-green-hover: var(--green);
    --background-green: var(--dark-green);
    --background-green-hover: var(--green);
    --background-green-opacity: var(--green-opacity);
    --background-green-hover-opacity: var(--dark-green-opacity);
}  