#FAQ-modul-e-szlaki {
  .faq-contact-form {
    $contact-form-breakpoint: 55em;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (min-width: $contact-form-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
    }

    .faq-contact-form-question,
    .custom-checkbox-group {
      @media (min-width: $contact-form-breakpoint) {
        grid-column: span 2;
      }
    }
  }

  textarea.cd-form-control {
    font-family: inherit;
    resize: vertical;
  }

  .cd-form-control {
    padding: 0.5rem 0.75rem;
    transition: 0.2s;
    border-radius: 0.375em;
    background: hsl(0, 0%, 98%);
    box-shadow: inset 0 0 0 1px hsl(240, 4%, 85%);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2;
  }

  .cd-form-control::placeholder {
    opacity: 1;
    color: hsl(0, 0%, 50%);
  }

  .cd-form-control:focus,
  .cd-form-control:focus-within {
    outline: none;
    background: hsl(0, 0%, 100%);
    box-shadow: inset 0 0 0 1px hsla(240, 4%, 85%, 0), 0 0 0 2px var(--green),
      0 0.3px 0.4px hsla(230, 13%, 9%, 0.025),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.05),
      0 3.5px 6px hsla(230, 13%, 9%, 0.1);
  }

  .cd-icon {
    --size: 1em;
    display: inline-block;
    flex-shrink: 0;
    width: 1em;
    max-width: initial;
    height: 1em;
    fill: currentColor;
    color: inherit;
    font-size: var(--size);
    line-height: 1;
  }

  .cd-icon--is-spinning {
    animation: cd-icon-spin 1s infinite linear;
  }

  @keyframes cd-icon-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .cd-icon use {
    fill: currentColor;
    color: inherit;
  }

  .floating-label-grid {
    display: grid;
    gap: 1rem;
  }

  .floating-label {
    position: absolute;
    top: 0;
    left: calc(1rem - 0.5rem);
    padding: 0.25rem 0.5rem;
    clip: auto;
    transform: translateY(-50%);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
    border-radius: 0.375em;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 50%);
    font-size: 0.9375rem;
    line-height: 1;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .floating-label-control {
    padding: 0.75rem calc(1rem + 24px) 0.75rem 1rem;
    background-color: hsl(0, 0%, 100%);
  }

  .floating-label-control:placeholder-shown {
    background-color: hsl(0, 0%, 98%);
  }

  .floating-label-control:placeholder-shown + .floating-label {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    transform: translateY(-25%);
  }

  .floating-label-control ~ .cd-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    color: hsl(225, 4%, 47%);
    pointer-events: none;
  }

  .floating-label-control:focus {
    background-color: hsl(0, 0%, 100%);
  }
  .floating-label-control:focus ~ .cd-icon {
    color: var(--green);
  }
  .floating-label-control:focus + .floating-label {
    color: var(--green);
  }

  .cd-width-100\% {
    width: 100%;
  }

  .cd-position-relative {
    position: relative;
  }
}
